<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylzh.onlineexam.mapper.BizSiteInfoMapper">
  <resultMap id="BaseResultMap" type="com.ylzh.onlineexam.entity.BizSiteInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="site_name" jdbcType="VARCHAR" property="siteName" />
    <result column="site_desc" jdbcType="VARCHAR" property="siteDesc" />
    <result column="site_pic" jdbcType="VARCHAR" property="sitePic" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from biz_site_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ylzh.onlineexam.entity.BizSiteInfo">
    insert into biz_site_info (id, site_name, site_desc, 
      site_pic, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{siteName,jdbcType=VARCHAR}, #{siteDesc,jdbcType=VARCHAR}, 
      #{sitePic,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ylzh.onlineexam.entity.BizSiteInfo">
    update biz_site_info
    set site_name = #{siteName,jdbcType=VARCHAR},
      site_desc = #{siteDesc,jdbcType=VARCHAR},
      site_pic = #{sitePic,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, site_name, site_desc, site_pic, create_time, update_time
    from biz_site_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, site_name, site_desc, site_pic, create_time, update_time
    from biz_site_info
  </select>
  <resultMap id="BaseResultMap" type="com.ylzh.onlineexam.entity.BizSiteInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="site_name" jdbcType="VARCHAR" property="siteName" />
    <result column="site_desc" jdbcType="VARCHAR" property="siteDesc" />
    <result column="site_pic" jdbcType="VARCHAR" property="sitePic" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from biz_site_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ylzh.onlineexam.entity.BizSiteInfo">
    insert into biz_site_info (id, site_name, site_desc, 
      site_pic, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{siteName,jdbcType=VARCHAR}, #{siteDesc,jdbcType=VARCHAR}, 
      #{sitePic,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ylzh.onlineexam.entity.BizSiteInfo">
    update biz_site_info
    set site_name = #{siteName,jdbcType=VARCHAR},
      site_desc = #{siteDesc,jdbcType=VARCHAR},
      site_pic = #{sitePic,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, site_name, site_desc, site_pic, create_time, update_time
    from biz_site_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, site_name, site_desc, site_pic, create_time, update_time
    from biz_site_info
  </select>
</mapper>