<meta charset="utf-8">
<div id="top" th:fragment="top"  class="top-box">
    <div class="container">
        <span class="">
                                      欢迎访问在线考试平台，这是一个记录世界的平台！
        </span>
    </div>
</div>
<nav id ="navbar" th:fragment="navbar" class="navbar navbar-default " style="background-color:#c52219">
	<div class="container">
    	<div class="navbar-header">
	    	<a class="logo-a" href="/">
	            <img src="/img/logo.png" alt="logo" />
	        </a>
	    </div>
    </div>
</nav>